atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/blob-store
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
atom.symlink/recovery
atom.symlink/split-diff/

git/gitconfig.local.symlink
/.idea/
/zsh/prompt.zsh.back
