"*":
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "Fira Code"
    fontSize: 12
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "git-plus": {}
  "go-plus":
    goPath: "/Users/holman/Code/go"
  "linter-eslint":
    useGlobalEslint: true
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  welcome:
    showOnStartup: false
".diff":
  editor:
    tabLength: 4
".groovy.source":
  editor:
    tabLength: 4
